body{
  background-color: black;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: auto;
}

.tile {
  flex: 0 0 11.111111%;
  height: 50px;

  background-color: black;
  color: white;
  font-size: 32px;

  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.initialTile {
  background-color: darkgray;
}

#checkSolutionButton {
  flex: 0 0 50%;
  font-size: 32px;
  color: blanchedalmond;
  background-color: darkgoldenrod;
}

#solvedSpan {
  color: green;
  flex: 0 0 100%;
  margin: auto;
  font-weight: bolder;
  font-size: 35px;
}

.toggleHistoryButton {
  flex: 0 0 50%;
  font-size: 36px;
}

#solveButton {
  font-size:36px;
  flex: 0 0 100%;
}